<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


	<section>
	
		<div class="container-fuild mt-5">
		
		
		
			<!-- 					show message Box if data is available  -->
						<div  th:if="${session.message}" class="container">
						<div th:classappend="${session.message.messageType}" class="alert alert-primary text-center" role="alert">
  						<span th:text="${session.message.message}"></span>
							</div>
							<span th:text="${#session.removeAttribute('message')}"></span>
						</div>
			<!-- 					End show message Box if data is available  -->
		
		
		
		
		

			<div class="card p-4 mb-5" style="max-width: 35rem; margin: auto;">
				<div class="card-body">

					<h5 class="card-title text-warning text-center mb-4 ">Course Category update Form</h5>


					<!-- FORM STARTNG... -->
					<form th:action="@{'~/admin/adminpanel/CourseCategoryUpdateNow'}" method="post" enctype="multipart/form-data" > 

						<div class="form-group">
							<label for="exampleFormControlInput1">update Name</label> <input
								type="text" th:value="${course.categoryName}" name="categoryName" class="form-control"
								placeholder="category Name">
						</div>



						<div class="form-group">
							<label for="exampleFormControlInput1">update Title</label> <input
								type="text" th:value="${course.categoryTitle}" name="categoryTitle" class="form-control"
								placeholder="category Title">
						</div>

						<div class="form-group">
							<label for="exampleFormControlTextarea1">update categoryDescription</label>
							<textarea name="categoryDescription" class="form-control" th:value="${course.categoryDescription}" 
								id="exampleFormControlTextarea1" rows="3" th:text="${course.categoryDescription}"  ></textarea>
						</div>

						<div class="form-group">
							<label for="exampleFormControlInput1">update Keyword</label> <input
								type="text" th:value="${course.categoryKeyword}" name="categoryKeyword" class="form-control"
								placeholder="category Keyword">
						</div>


						<div class="form-group">
							<label for="exampleFormControlInput1">update url</label> <input
								type="text" th:value="${course.category_url}" name="category_url" class="form-control"
								placeholder="category url">
						</div>

						<div class="form-group">
							<label for="exampleFormControlSelect1">update status</label> <select
								class="form-control" name="categoryStatus" >
								<option th:classappend="${course.categoryStatus=='show'? 'bg-dark':'bg-light'}" value="show" >show</option>
								<option value="hide"  >hide</option>

							</select>
						</div>
						
						<div>
						<img alt="" th:src="@{'~/categoryImages/'+${course.catImageName}}" height="200" width="200">
						</div>
						
						<div class="form-group">
							<label for="exampleFormControlFile1">update Course Image</label> <input
								type="file" name="file" class="form-control-file"
								id="exampleFormControlFile1">
						</div>
							
							<div class="form-group">
							<input type="hidden" name="categoryId" th:value="${course.catId}" >
							</div>
						
						<div class="text-center mt-4 " >
						<button  type="submit" class="btn btn-primary btn-block">
						
						update</button>
						</div>
						


					</form>





				</div>
			</div>


		</div>
		
		
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</section>


</body>
</html>