<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>


		<div class="card mt-5" style="max-width: 24rem; margin: auto;">
		
		
		
			<!-- 					show message Box if data is available  -->
						<div  th:if="${session.message}" class="container">
						<div th:classappend="${session.message.messageType}" class="alert alert-primary text-center" role="alert">
  						<span th:text="${session.message.message}"></span>
							</div>
							<span th:text="${#session.removeAttribute('message')}"></span>
						</div>
			<!-- 					End show message Box if data is available  -->
			
			
		

			<div class="card-header text-center">Upload Images</div>

			<div class="card-body">
			
				<!-- fORM STARTING -->
				<form th:action="@{'~/admin/adminpanel/uploadHubImages'}" method="post" enctype="multipart/form-data">
				
				
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Example textarea</label>
						<textarea class="form-control" name="imageNames" id="exampleFormControlTextarea1"
							rows="3"></textarea>
					</div>

					<div class="form-group">
						<label for="exampleFormControlFile1">Images</label> <input
							type="file" multiple="multiple" name="images" class="form-control-file"
							id="exampleFormControlFile1">
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-block btn-primary">upload</button>
					</div>


				</form>
				<!-- fORM ENDING !! -->

			</div>
		</div>

	</section>

</body>
</html>