<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
	
		<div class="container bg-light" style="background-color: whitesmoke !important;">
			
			
					<div class="p-4" th:if=${courseChapter==null}  >
						
						<div class="text-center">
							<h1  id="lm101" th:text=${working}></h1>
							<img alt="" th:src="@{'~/home/images/workingnew.jpg'}" height="350" width="550" >
						</div>
						
					</div>
		
		</div>
		
	</section>
</body>
</html>