
body
{
 	overflow-x: hidden; 
}
.cardImageOverlay
{
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
}



#foreachnavbarNav:hover
{
	background-color: #FF5454;
	padding: 12px;
}

#homeImage{
	
	width: 100%;
	height: 400px;
	object-fit: cover;

}

#author_social_link
{
	list-style: none;display: inline;
	margin-left: 5px;
}

#careousl{
	
	width: 100%;
	height: 450px;
	object-fit: cover;

}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.rootimageh2
{
	font-family: 'Playfair Display', serif;
	font-family: 'Rubik', sans-serif;
}

#lm100
{
	background-color:white;
	border-radius: 10px;
}

#lm101{
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	color: #610B38;
}

.lm102
{
	text-decoration: none;
	color: green;
}
.lm103
{
	color: rgb(223, 0, 0);
    line-height: 0;
    font: 15px verdana,helvetica,arial,sans-serif;
    display: inline;
}

.lm104
{
	font: 13px verdana,helvetica,arial,sans-serif;
    color: #000;
    text-decoration: none;
}
.lm105
{
	margin-top:20px;
	margin-bottom:20px;
	max-width: 300px;
}
.lm106
{
	font-weight: bold;
}

#lm107
{
	
font-family: 'PT Serif', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-weight: 500;
}
#lm107 .sp:after
{
	content: '';
    width: 23%;
    height: 1px;
    background: #BDC3C7;
    position: absolute;
    bottom: 0%;
    left: 24%;
}

.lm108:hover{
	
	text-decoration: underline;
	color: #000000bf;
	
}

.lm109:hover{
	text-decoration:underline;
	color: green;
}

.lm110
{
	text-decoration: none;
	color: rgb(223, 0, 0);
	font: 13px verdana,helvetica,arial,sans-serif;
}
.lm110:hover
{
	color: rgb(223, 0, 0);
}

#chapterHover :hover
{
	color: green;
	text-decoration: underline;
}

/* AUTHOR CSS */

#author_name
{
	
    color: #0A74BB;
    font-family: 'PT Serif', serif;
	font-family: 'Rubik', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
}


/* NAVBAR */

.nav-item :hover
{
	background-color: #FF5454;
}

.navbar-collapse ul li a
{
	font-size: 15px;
	font-family: serif;
}

/* FOOTER CSS */
/* Footer */

.font-family-1
{
	font-family: 'Rubik', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	color: #CCD1D1 !important;
}

.footer-sectin
{
	padding: 60px;
}

.footer-sectin .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #2C3E50 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/* FOOTER CSS ENDING! */


/* SIDEBAR */

@media only screen and (max-width: 900px) {
  
  #colmd-2
  {
  display: none;
  margin-top: 0px;
  }
}

@media only screen and (min-width: 900px) {
  
  .sidebarIcon
  {
  display: none;
  }
  #colmd-2
  {
  display: block;
  }
}

/* SIDEBAR ENDING... */




/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network100 {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network100 li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network100 a.icoRss:hover {
	background-color: #F56505;
}
.social-network100 a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network100 a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network100 a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network100 a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network100 a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network100 a.icoRss:hover i, .social-network100 a.icoFacebook:hover i, .social-network100 a.icoTwitter:hover i,
.social-network100 a.icoGoogle:hover i, .social-network100 a.icoVimeo:hover i, .social-network100 a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:30px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}





